absl-py==0.12.0
affine==2.3.1
ai-economist==1.7.1
aiohttp @ file:///opt/concourse/worker/volumes/live/834bef7f-1b73-444d-7450-e5c89e4d2c69/volume/aiohttp_1632748509831/work
aiosignal==1.2.0
alabaster @ file:///home/ktietz/src/ci/alabaster_1611921544520/work
ale-py==0.7.3
alembic==1.7.5
ampligraph==1.4.0
anaconda-client @ file:///opt/concourse/worker/volumes/live/ce6e20ef-c449-4fb2-5463-03f67f4a0b31/volume/anaconda-client_1635342572171/work
anaconda-navigator==2.1.1
anaconda-project @ file:///tmp/build/80754af9/anaconda-project_1626085644852/work
antlr4-python3-runtime==4.8
anyio @ file:///opt/concourse/worker/volumes/live/64740ac7-3a9c-4fbb-6685-a51c4ff8b4ca/volume/anyio_1617783319350/work/dist
appdirs==1.4.4
applaunchservices @ file:///Users/ktietz/demo/mc3/conda-bld/applaunchservices_1630511705208/work
appnope @ file:///opt/concourse/worker/volumes/live/5f13e5b3-5355-4541-5fc3-f08850c73cf9/volume/appnope_1606859448618/work
appscript @ file:///opt/concourse/worker/volumes/live/82e8b4c7-2416-4d10-509e-144ca79d9b1d/volume/appscript_1611426996703/work
argh==0.26.2
argon2-cffi @ file:///opt/concourse/worker/volumes/live/d733ceb5-7f19-407b-7da7-a386540ab855/volume/argon2-cffi_1613037492998/work
arrow==0.13.1
asn1crypto @ file:///tmp/build/80754af9/asn1crypto_1596577642040/work
asteroid-filterbanks==0.4.0
astor==0.8.1
astroid==2.5.6
astropy @ file:///opt/concourse/worker/volumes/live/bb346f7d-9260-48ca-500b-e477dca2f1a1/volume/astropy_1629829214121/work
async-generator @ file:///home/ktietz/src/ci/async_generator_1611927993394/work
async-timeout==3.0.1
atari-py==0.2.9
atomicwrites==1.4.0
attrs==20.3.0
audioread @ file:///Users/runner/miniforge3/conda-bld/audioread_1636295837277/work
autograd==1.3
autograd-gamma==0.5.0
autopage==0.4.0
autopep8 @ file:///tmp/build/80754af9/autopep8_1615918855173/work
awscli==1.22.63
Babel @ file:///tmp/build/80754af9/babel_1620871417480/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
backports.entry-points-selectable==1.1.0
backports.functools-lru-cache @ file:///tmp/build/80754af9/backports.functools_lru_cache_1618170165463/work
backports.shutil-get-terminal-size @ file:///tmp/build/80754af9/backports.shutil_get_terminal_size_1608222128777/work
backports.tempfile @ file:///home/linux1/recipes/ci/backports.tempfile_1610991236607/work
backports.weakref==1.0.post1
banal==1.0.6
beautifulsoup4==4.9.3
beautifultable==1.1.0
bertopic==0.9.3
bertviz==1.4.0
binaryornot @ file:///tmp/build/80754af9/binaryornot_1617751525010/work
bitarray @ file:///opt/concourse/worker/volumes/live/a0db48de-53ed-46f6-4b30-7e32fdd0ac74/volume/bitarray_1629132866676/work
bkcharts==0.2
black==21.5b1
bleach==3.3.0
blis==0.7.7
bokeh @ file:///opt/concourse/worker/volumes/live/c24706cf-b45f-4302-4bda-8b7b1d353972/volume/bokeh_1635324478018/work
boto==2.49.0
boto3==1.21.42
botocore==1.24.42
Bottleneck==1.3.2
brotlipy==0.7.0
bs4==0.0.1
cachetools @ file:///tmp/build/80754af9/cachetools_1619597386817/work
cairocffi==1.3.0
captum==0.5.0
catalogue==2.0.7
certifi==2020.12.5
cffi==1.14.5
cfgv==3.3.1
chardet @ file:///opt/concourse/worker/volumes/live/c798b2ee-88b1-4341-6830-161a92c2399e/volume/chardet_1607706832595/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
chess==1.7.0
click==8.0.1
click-plugins==1.1.1
cliff==3.10.0
cligj==0.7.2
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1632508026186/work
clyent==1.2.2
cmaes==0.8.2
cmake==3.22.0
cmd2==2.3.3
colorama==0.4.3
colorlog==6.6.0
CommonMark==0.5.4
conda==4.11.0
conda-build==3.21.4
conda-content-trust @ file:///tmp/build/80754af9/conda-content-trust_1617045594566/work
conda-pack @ file:///tmp/build/80754af9/conda-pack_1611163042455/work
conda-package-handling @ file:///opt/concourse/worker/volumes/live/73497069-9b43-4ad9-50ec-1abb340e14eb/volume/conda-package-handling_1618262140058/work
conda-repo-cli @ file:///tmp/build/80754af9/conda-repo-cli_1620168426516/work
conda-token @ file:///tmp/build/80754af9/conda-token_1620076980546/work
conda-verify==3.4.2
configparser==5.2.0
contextlib2 @ file:///Users/ktietz/demo/mc3/conda-bld/contextlib2_1630668244042/work
cookiecutter @ file:///tmp/build/80754af9/cookiecutter_1617748928239/work
coverage @ file:///opt/concourse/worker/volumes/live/6ceb89b1-0a6f-4390-463d-c777be9e36ff/volume/coverage_1614614853506/work
cryptography @ file:///opt/concourse/worker/volumes/live/0c46ebe2-a8f1-4d38-7a3c-36f6ad8d6408/volume/cryptography_1633520396142/work
cycler==0.10.0
cymem==2.0.6
Cython @ file:///opt/concourse/worker/volumes/live/da4db94a-3449-4978-4400-64181f888dab/volume/cython_1618435143829/work
cytoolz==0.11.0
dask==2021.10.0
dataset==1.5.2
datasets==2.1.0
debugpy @ file:///opt/concourse/worker/volumes/live/0549da12-d109-47ea-668a-9e172153d243/volume/debugpy_1629222704203/work
decorator==5.0.9
deep-translator==1.5.4
definitions==0.2.0
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
diff-match-patch @ file:///Users/ktietz/demo/mc3/conda-bld/diff-match-patch_1630511840874/work
dill==0.3.4
distlib==0.3.3
distributed @ file:///opt/concourse/worker/volumes/live/33aa97e5-b6d7-4839-44c6-2ddd8034a2b9/volume/distributed_1635968218064/work
docopt==0.6.2
docutils==0.15.2
einops==0.3.2
emoji==1.6.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
en-core-web-trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.2.0/en_core_web_trf-3.2.0-py3-none-any.whl
entrypoints==0.3
et-xmlfile==1.1.0
fastai==2.6.0
fastcache==1.1.0
fastcore==1.4.2
fastdownload==0.0.5
fastprogress==1.0.2
filelock==3.3.2
flake8==3.9.2
Flask @ file:///home/ktietz/src/ci/flask_1611932660458/work
fonttools==4.25.0
formulaic==0.2.4
frozenlist==1.3.0
fse==1.0.0
fsspec @ file:///tmp/build/80754af9/fsspec_1632413898837/work
ftfy==6.1.1
funcy==1.16
future==0.18.2
future-fstrings==1.2.0
gensim==4.2.0
gevent @ file:///opt/concourse/worker/volumes/live/1d9b33f6-f02f-40eb-609e-60bcb3f0d9c6/volume/gevent_1628273691386/work
gitdb==4.0.9
GitPython==3.1.27
glob2 @ file:///home/linux1/recipes/ci/glob2_1610991677669/work
gmpy2==2.0.8
google-api-core==2.7.2
google-auth==2.6.5
google-auth-oauthlib==0.4.6
google-cloud==0.34.0
google-cloud-core @ file:///tmp/build/80754af9/google-cloud-core_1625077425256/work
google-cloud-storage @ file:///tmp/build/80754af9/google-cloud-storage_1626308236607/work
google-cloud-vision==2.7.2
google-crc32c @ file:///opt/concourse/worker/volumes/live/423965c9-74d0-49ca-5750-745a67e15b38/volume/google-crc32c_1612242918626/work
google-pasta==0.2.0
google-resumable-media @ file:///tmp/build/80754af9/google-resumable-media_1624367812531/work
googleapis-common-protos==1.56.0
GPUtil==1.4.0
graphviz==0.19.1
greenlet @ file:///opt/concourse/worker/volumes/live/95ce977d-8383-4e59-44f1-32af4c61496e/volume/greenlet_1628888142951/work
grpcio==1.43.0
grpcio-status==1.44.0
gym==0.21.0
h11==0.13.0
h5py==2.10.0
hanabi-learning-environment==0.0.1
hdbscan==0.8.27
HeapDict @ file:///Users/ktietz/demo/mc3/conda-bld/heapdict_1630598515714/work
Historic-Crypto==0.1.6
html5lib @ file:///Users/ktietz/demo/mc3/conda-bld/html5lib_1629144453894/work
huggingface-hub==0.2.1
hydra-core==1.1.1
HyperPyYAML==1.0.0
identify==2.3.4
idna==2.10
igraph==0.9.10
imagecodecs @ file:///opt/concourse/worker/volumes/live/e941b486-3a75-48c0-6296-0718ca963055/volume/imagecodecs_1635529114027/work
ImageHash==4.2.1
imageio @ file:///tmp/build/80754af9/imageio_1617700267927/work
imagesize @ file:///home/ktietz/src/ci/imagesize_1611921604382/work
imbalanced-learn==0.9.0
img2vec-pytorch==1.0.1
importlib-metadata @ file:///opt/concourse/worker/volumes/live/75f9b854-f895-4cdc-46a8-b054eddb9b3f/volume/importlib-metadata_1631916701668/work
importlib-resources==5.4.0
inflection==0.5.1
iniconfig @ file:///home/linux1/recipes/ci/iniconfig_1610983019677/work
interface-meta==1.2.4
intervaltree @ file:///Users/ktietz/demo/mc3/conda-bld/intervaltree_1630511889664/work
ipykernel==5.5.5
ipython==7.31.1
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets==7.6.3
isodate==0.6.1
isort==5.8.0
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
jdcal @ file:///Users/ktietz/demo/mc3/conda-bld/jdcal_1630584345063/work
jedi==0.18.0
Jinja2==3.0.1
jinja2-time @ file:///tmp/build/80754af9/jinja2-time_1617751524098/work
jmespath @ file:///Users/ktietz/demo/mc3/conda-bld/jmespath_1630583964805/work
joblib @ file:///tmp/build/80754af9/joblib_1635411271373/work
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonschema @ file:///Users/ktietz/demo/mc3/conda-bld/jsonschema_1630511932244/work
julius==0.2.6
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console @ file:///tmp/build/80754af9/jupyter_console_1616615302928/work
jupyter-core==4.7.1
jupyter-server @ file:///opt/concourse/worker/volumes/live/4f2e970c-4cba-4227-75ae-10ebe3b5f9c3/volume/jupyter_server_1616084051538/work
jupyterlab @ file:///tmp/build/80754af9/jupyterlab_1635799997693/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-server @ file:///tmp/build/80754af9/jupyterlab_server_1633419203660/work
jupyterlab-widgets @ file:///tmp/build/80754af9/jupyterlab_widgets_1609884341231/work
karateclub==1.2.3
keyring @ file:///opt/concourse/worker/volumes/live/cad8f30b-7a76-4683-42d4-ccca45eedf9e/volume/keyring_1629321566320/work
kiwisolver @ file:///opt/concourse/worker/volumes/live/0b2f3e77-eaa3-4995-7dd0-c994762fcbde/volume/kiwisolver_1612282417472/work
kymatio==0.2.1
langcodes==3.3.0
latexcodec==2.0.1
lazy-object-proxy @ file:///opt/concourse/worker/volumes/live/e4bc3ba3-f365-4387-5772-cbb667714c62/volume/lazy-object-proxy_1616529072711/work
libarchive-c @ file:///tmp/build/80754af9/python-libarchive-c_1617780486945/work
librosa==0.9.1
lifelines==0.26.4
llvmlite==0.37.0
locket==0.2.1
lucem-illud @ git+https://github.com/UChicago-Computational-Content-Analysis/lucem_illud.git@9fa6f1abdc19d159d587b4017ee6897fe7a18d4d
lxml @ file:///opt/concourse/worker/volumes/live/42fc56a4-88b4-4605-6037-9605f4e5eeeb/volume/lxml_1616443240194/work
lz4==3.1.3
Mako==1.1.6
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.2.1
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
mccabe==0.6.1
memory-profiler==0.60.0
Mesa==0.8.9
mistune @ file:///opt/concourse/worker/volumes/live/95802d64-d39c-491b-74ce-b9326880ca54/volume/mistune_1594373201816/work
mkl-fft==1.3.1
mkl-random @ file:///opt/concourse/worker/volumes/live/f196a661-8e33-4aac-63bc-efb2ff50e035/volume/mkl_random_1626186080069/work
mkl-service==2.4.0
mock @ file:///tmp/build/80754af9/mock_1607622725907/work
more-itertools @ file:///tmp/build/80754af9/more-itertools_1635423142362/work
mpmath==1.2.1
mrjob==0.7.4
msgpack @ file:///opt/concourse/worker/volumes/live/d7400f3a-e5de-4e85-5d4c-0c984c648401/volume/msgpack-python_1612287157185/work
multidict @ file:///opt/concourse/worker/volumes/live/13289f20-f4bb-4e3d-7e57-60a41fceffd4/volume/multidict_1607367786469/work
multipledispatch==0.6.0
multiprocess==0.70.12.2
munkres==1.1.4
murmurhash==1.0.6
mypy-extensions==0.4.3
mysql-connector-python==8.0.29
navigator-updater==0.2.1
nbclassic @ file:///tmp/build/80754af9/nbclassic_1616085367084/work
nbclient @ file:///tmp/build/80754af9/nbclient_1614364831625/work
nbconvert==6.0.7
nbeats-pytorch==1.6.0
nbformat @ file:///tmp/build/80754af9/nbformat_1617383369282/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1613680548246/work
networkx==2.8
nltk==3.7
node2vec==0.4.5
nodeenv==1.6.0
nose @ file:///tmp/build/80754af9/nose_1606773131901/work
notebook==6.4.1
numba @ file:///Users/builder/miniconda3/envs/prefect/conda-bld/numba_1635176853722/work
numexpr @ file:///opt/concourse/worker/volumes/live/e845d683-bbb9-4fa2-79ce-743b84c61560/volume/numexpr_1618856522192/work
numpy==1.19.0
numpydoc @ file:///tmp/build/80754af9/numpydoc_1605117425582/work
oauthlib==3.1.1
olefile @ file:///Users/ktietz/demo/mc3/conda-bld/olefile_1629805411829/work
omegaconf==2.1.1
opencv-python==3.4.16.59
openpyxl==3.0.7
optuna==2.10.0
oset==0.1.3
outcome==1.1.0
packaging==20.9
pandas==1.2.4
pandocfilters @ file:///opt/concourse/worker/volumes/live/c330e404-216d-466b-5327-8ce8fe854d3a/volume/pandocfilters_1605120442288/work
parso==0.8.2
partd @ file:///tmp/build/80754af9/partd_1618000087440/work
path @ file:///opt/concourse/worker/volumes/live/1efdb1e5-0941-4d76-51f1-98c58536e7e0/volume/path_1623603897929/work
pathlib2 @ file:///opt/concourse/worker/volumes/live/497b0f28-6593-4f57-5e84-a9aa75a9ca35/volume/pathlib2_1625585688320/work
pathos==0.2.8
pathspec==0.8.1
pathtools @ file:///Users/ktietz/demo/mc3/conda-bld/pathtools_1629713893697/work
pathy==0.6.1
patsy==0.5.2
pbr==5.8.0
pdfminer2==20151206
pep8==1.7.1
pescador==2.1.0
PettingZoo==1.13.1
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.0.0
pipenv==2021.11.5.post0
pipreqs==0.4.11
pkginfo==1.7.1
platformdirs==2.4.0
plotly @ file:///Users/nicolas/opt/miniconda3/envs/env/conda-bld/plotly_1630459557113/work/packages/python/plotly/dist/plotly-5.3.1.tar.gz
pluggy @ file:///opt/concourse/worker/volumes/live/2d655872-b6f5-4225-538c-dd87e481f5c8/volume/pluggy_1615976700299/work
ply==3.11
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1633958983611/work
pox==0.3.0
poyo @ file:///tmp/build/80754af9/poyo_1617751526755/work
ppft==1.6.6.4
pre-commit==2.15.0
preshed==3.0.6
prettytable==3.0.0
primePy==1.3
prometheus-client==0.10.1
promise==2.3
prompt-toolkit==3.0.18
proto-plus==1.20.3
protobuf==3.19.1
protobuf3-to-dict==0.1.5
psutil @ file:///opt/concourse/worker/volumes/live/0673cd4b-30c1-4470-7490-d8955610f5d5/volume/psutil_1612298002202/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
py @ file:///tmp/build/80754af9/py_1607971587848/work
pyanno3==2.0.2
pyannote.audio @ https://github.com/pyannote/pyannote-audio/archive/develop.zip
pyannote.core==4.3
pyannote.database==4.1.1
pyannote.metrics==3.2
pyannote.pipeline==2.2
pyarrow==7.0.0
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
pybtex==0.24.0
pybtex-docutils==1.0.1
pycairo==1.21.0
pycodestyle==2.7.0
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pycryptodome==3.10.1
pycurl==7.44.1
pydantic==1.8.2
pyDeprecate==0.3.1
pydocstyle @ file:///tmp/build/80754af9/pydocstyle_1621600989141/work
pydot==1.4.2
pydub==0.25.1
pyerfa @ file:///opt/concourse/worker/volumes/live/f87989f6-b347-4e0a-7be4-c3773473f3c6/volume/pyerfa_1621560794706/work
pyflakes==2.3.1
pygame==2.0.0
Pygments==2.9.0
PyGSP==0.5.1
PyJWT @ file:///opt/concourse/worker/volumes/live/4b23e6f5-19fd-4072-46f2-afa3ad67289b/volume/pyjwt_1619651619662/work
pyLDAvis==3.3.1
pylint==2.8.2
pyls-black @ file:///tmp/build/80754af9/pyls-black_1607553132291/work
pyls-spyder @ file:///tmp/build/80754af9/pyls-spyder_1613849700860/work
pymunk==6.2.0
pynndescent==0.5.5
pyodbc===4.0.0-unsupported
pyopencl==2022.1
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1635333100036/work
pyparsing==2.4.7
pyperclip==1.8.2
pyrsistent==0.17.3
PySocks @ file:///opt/concourse/worker/volumes/live/85a5b906-0e08-41d9-6f59-084cee4e9492/volume/pysocks_1594394636991/work
PySoundFile==0.9.0.post1
pytest==6.2.4
pytest-cov==3.0.0
pytest-depends==1.0.1
python-dateutil==2.8.1
python-docx==0.8.11
python-jsonrpc-server @ file:///tmp/build/80754af9/python-jsonrpc-server_1600278539111/work
python-language-server @ file:///tmp/build/80754af9/python-language-server_1607972495879/work
python-Levenshtein==0.12.2
python-louvain==0.16
python-slugify @ file:///tmp/build/80754af9/python-slugify_1620405669636/work
pytools==2022.1.3
pytorch-lightning==1.5.9
pytorch-metric-learning==1.1.0
pyts==0.12.0
pytz==2021.1
PyWavelets @ file:///opt/concourse/worker/volumes/live/ea36e10f-66e8-43ae-511e-c4092764493f/volume/pywavelets_1601658378672/work
PyYAML==5.4.1
pyzmq==22.0.3
QDarkStyle @ file:///tmp/build/80754af9/qdarkstyle_1617386714626/work
qloader==8.1.4
qstylizer @ file:///tmp/build/80754af9/qstylizer_1617713584600/work/dist/qstylizer-0.1.10-py2.py3-none-any.whl
QtAwesome @ file:///tmp/build/80754af9/qtawesome_1615991616277/work
qtconsole==5.1.0
QtPy==1.9.0
rasterio==1.2.10
ray==1.12.0
rdflib==6.1.1
recommonmark==0.4.0
regex==2022.4.24
requests==2.25.1
requests-oauthlib==1.3.0
resampy==0.2.2
Resemblyzer==0.1.1.dev0
responses==0.18.0
retrying==1.3.3
rlcard==1.0.4
rope @ file:///tmp/build/80754af9/rope_1623703006312/work
rsa @ file:///tmp/build/80754af9/rsa_1614366226499/work
Rtree @ file:///opt/concourse/worker/volumes/live/7b97d6e1-aeee-4f6d-418c-32be5bbd5ed3/volume/rtree_1618420839839/work
ruamel-yaml-conda @ file:///opt/concourse/worker/volumes/live/53b096c9-f5b7-4029-7f1b-056927554e08/volume/ruamel_yaml_1616016691174/work
ruamel.yaml==0.17.17
ruamel.yaml.clib==0.2.6
s3transfer @ file:///tmp/build/80754af9/s3transfer_1626435152308/work
sacremoses==0.0.46
sagemaker==2.90.0
SciencePlots==1.0.9
scikit-image==0.19.2
scikit-learn==1.0.2
scipy==1.6.3
seaborn @ file:///tmp/build/80754af9/seaborn_1629307859561/work
selenium==4.1.3
semver==2.13.0
Send2Trash==1.5.0
sentence-transformers==2.1.0
sentencepiece==0.1.96
sets==0.3.2
shap==0.40.0
shellingham==1.4.0
simplegeneric==0.8.1
simplejson==3.17.6
singledispatch @ file:///tmp/build/80754af9/singledispatch_1629321204894/work
six @ file:///tmp/build/80754af9/six_1623709665295/work
sklearn==0.0
slicer==0.0.7
smart-open @ file:///tmp/build/80754af9/smart_open_1623928409369/work
smdebug-rulesconfig==1.0.1
smmap==5.0.0
sniffio @ file:///opt/concourse/worker/volumes/live/1faeb672-6d3f-4f1f-7861-294fcf282962/volume/sniffio_1614030462215/work
snowballstemmer @ file:///tmp/build/80754af9/snowballstemmer_1611258885636/work
snuggs==1.4.7
sortedcollections @ file:///tmp/build/80754af9/sortedcollections_1611172717284/work
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1623949099177/work
SoundFile @ file:///home/conda/feedstock_root/build_artifacts/pysoundfile_1607011569782/work
soupsieve @ file:///tmp/build/80754af9/soupsieve_1616183228191/work
spacy==3.2.4
spacy-alignments==0.8.5
spacy-legacy==3.0.9
spacy-loggers==1.0.2
spacy-transformers==1.1.5
spectralcluster==0.2.4
-e git+https://github.com/speechbrain/speechbrain.git@5e300d1203a2312b046c2eea368aae7465df2d94#egg=speechbrain
SpeechRecognition==3.8.1
Sphinx==2.4.5
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp @ file:///home/ktietz/src/ci/sphinxcontrib-applehelp_1611920841464/work
sphinxcontrib-bibtex==0.4.2
sphinxcontrib-devhelp @ file:///home/ktietz/src/ci/sphinxcontrib-devhelp_1611920923094/work
sphinxcontrib-htmlhelp @ file:///tmp/build/80754af9/sphinxcontrib-htmlhelp_1623945626792/work
sphinxcontrib-jsmath @ file:///home/ktietz/src/ci/sphinxcontrib-jsmath_1611920942228/work
sphinxcontrib-qthelp @ file:///home/ktietz/src/ci/sphinxcontrib-qthelp_1611921055322/work
sphinxcontrib-serializinghtml @ file:///tmp/build/80754af9/sphinxcontrib-serializinghtml_1624451540180/work
sphinxcontrib-websupport @ file:///tmp/build/80754af9/sphinxcontrib-websupport_1597081412696/work
spyder @ file:///opt/concourse/worker/volumes/live/0ec2d54d-5469-4418-6c2b-369154115f6c/volume/spyder_1626182082619/work
spyder-kernels @ file:///opt/concourse/worker/volumes/live/c6d5c8d9-d7d7-4fd1-6b15-450d7d56b8fb/volume/spyder-kernels_1625671042444/work
SQLAlchemy @ file:///opt/concourse/worker/volumes/live/1e13d3f3-1ffe-4afe-44b7-b6a7e04ce7e9/volume/sqlalchemy_1626948435194/work
srsly==2.4.3
stable-baselines3==1.2.0
stanza==1.3.0
statsmodels @ file:///opt/concourse/worker/volumes/live/f55add71-53cb-4510-4c08-7ae9e294a482/volume/statsmodels_1614023740731/work
stevedore==3.5.0
SuperSuit==3.3.2
sympy @ file:///opt/concourse/worker/volumes/live/83d97b35-c772-4674-67d8-c3395dad57a8/volume/sympy_1635237090846/work
tables==3.6.1
tabulate==0.8.9
tblib @ file:///Users/ktietz/demo/mc3/conda-bld/tblib_1629402031467/work
tenacity @ file:///opt/concourse/worker/volumes/live/eac3b803-2ee6-40ee-4731-160259386dec/volume/tenacity_1632761170899/work
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow-datasets==4.4.0
tensorflow-metadata==1.4.0
termcolor==1.1.0
terminado==0.10.0
testpath @ file:///tmp/build/80754af9/testpath_1624638946665/work
text-unidecode @ file:///Users/ktietz/demo/mc3/conda-bld/text-unidecode_1629401354553/work
textblob==0.17.1
textdistance @ file:///tmp/build/80754af9/textdistance_1612461398012/work
texttable==1.6.4
thinc==8.0.15
thinc-apple-ops==0.0.5
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
three-merge @ file:///tmp/build/80754af9/three-merge_1607553261110/work
tifffile @ file:///tmp/build/80754af9/tifffile_1627275862826/work
tinycss @ file:///tmp/build/80754af9/tinycss_1617713798712/work
tokenizers==0.10.3
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomli==1.2.2
toolz @ file:///home/linux1/recipes/ci/toolz_1610987900194/work
torch==1.10.0
torch-audiomentations==0.9.1
torch-pitch-shift==1.2.0
torchaudio==0.10.0
torchmetrics==0.7.0
torchvision==0.11.1
tornado @ file:///opt/concourse/worker/volumes/live/05341796-4198-4ded-4a9a-332fde3cdfd1/volume/tornado_1606942323372/work
tqdm==4.60.0
traitlets==5.0.5
traits==6.3.2
transformers==4.12.3
treelib==1.6.1
trio==0.20.0
trio-websocket==0.9.2
tsai==0.3.1
typed-ast @ file:///opt/concourse/worker/volumes/live/b635b0af-0037-435d-5a8b-38d096f36bbf/volume/typed-ast_1610484559102/work
typer==0.4.0
typing==3.7.4.3
typing-extensions==3.10.0.0
ujson @ file:///opt/concourse/worker/volumes/live/b4182deb-c6ce-4bc8-7783-61027c162049/volume/ujson_1611259506235/work
umap-learn==0.5.2
unicodecsv==0.14.1
Unidecode @ file:///tmp/build/80754af9/unidecode_1614712377438/work
urllib3==1.26.5
virtualenv==20.10.0
virtualenv-clone==0.5.7
wasabi==0.9.1
watchdog @ file:///opt/concourse/worker/volumes/live/b52a0105-ef15-4534-76c4-823a830d20e0/volume/watchdog_1624955008271/work
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
webrtcvad==2.0.10
Werkzeug @ file:///tmp/build/80754af9/werkzeug_1635505089296/work
whichcraft @ file:///tmp/build/80754af9/whichcraft_1617751293875/work
widgetsnbextension==3.5.1
wordcloud==1.8.1
wordfreq==3.0.1
wrapt @ file:///opt/concourse/worker/volumes/live/e3646d84-e961-4523-6bed-01532273c57e/volume/wrapt_1597851473852/work
wsproto==1.1.0
wurlitzer @ file:///opt/concourse/worker/volumes/live/93fdb2b6-14dd-4732-6223-341b0cec0713/volume/wurlitzer_1626947805218/work
xlrd @ file:///tmp/build/80754af9/xlrd_1608072521494/work
XlsxWriter @ file:///tmp/build/80754af9/xlsxwriter_1628603415431/work
xlwings==0.24.9
xlwt==1.3.0
xmltodict @ file:///Users/ktietz/demo/mc3/conda-bld/xmltodict_1629301980723/work
xxhash==3.0.0
yamllint==1.23.0
yapf @ file:///tmp/build/80754af9/yapf_1615749224965/work
yarg==0.1.9
yarl @ file:///opt/concourse/worker/volumes/live/1ca49bfe-d6bc-4f62-4ca7-30c33d4f9b33/volume/yarl_1598045187281/work
yellowbrick==1.4
zict==2.0.0
zipp @ file:///tmp/build/80754af9/zipp_1633618647012/work
zope.event==4.5.0
zope.interface @ file:///opt/concourse/worker/volumes/live/c276dde8-3639-4094-58c5-966878d97687/volume/zope.interface_1625036167044/work
